    body {
        padding-top: 54px;
    }
    
    @media (min-width: 992px) {
        body {
            padding-top: 56px;
        }
    }
    /* Temporary navbar container fix */
    
    .navbar-toggler {
        z-index: 1;
    }
    
    @media (max-width: 576px) {
        nav > .container {
            width: 100%;
        }
    }
    
    .container{
    width:100%;
    }
    
   	.container2{
    width:90%;
    margin: 0 auto;
    padding : 1rem;
    }
    
    .container3{
    width:40%;
    margin: 0 auto;
    padding : 1rem;
    }
    
    h1,h2{
    margin-bottom: 2rem;
    }
    
    h3{
    margin-bottom: 1rem;
    }
    
    h3 > a{
    padding-left : 0;
	
    }
    
    h5{
    margin-top:2rem;
    margin-bottom:2rem;
    }
    
    .error{
    margin-top :1rem; 
    margin-bottom : 1rem;
    color : #ba2d0b;
    }
    
    .notif{
    color : #ba2d0b;
    }
    
    a:visited{
    color: #0275d8;
  	text-decoration: none;
    }
    
    .nodeco{
    list-style-type : none;
    }
    
  .disputeDecision{
  padding-right: 2rem;
  }
  
    
  